#contact {
  background: url('../img/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .container {
    h2 {
      font-family: $secondary;
      color: $primary-color;
      font-size: px-to-em(62px);
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 15px;
    }

    .sandero {
      display: block;
      margin: 0 auto;
      width: 70%;
      transform: translateY(-60px) translateX(100px);

      @include mq("med") {
        transform: translateY(-20px) translateX(60px);
      }

      @include mq("meeting") {
        transform: translateY(0) translateX(0);
      }
    }
  }
}

.contact-info {
  @include mq("sm") {
    span {
      display: block;
    }
  }
}

#mr {
  margin-left: 96px;
  margin-top: 0;
}

.contacts {
  display: flex;
  margin: 1em 0;
  padding: .3em;

  h3, p {
    margin: 5px 0;
    font-family: $primary;
    font-weight: 700;
  }

  .contact-icons {
    display: flex;
    justify-content: center;

    embed {
      align-self: center;
      margin: 1em;
      width: 52px;
      height: auto;
    }
  }
}