//---------------------
//	Calling Webfonts
//---------------------

@font-face {
  font-family: "amsipro-ultra";
  src: url("../webfonts/amsipro-ultra/amsipro-ultra-webfont.eot");
  src: url("../webfonts/amsipro-ultra/amsipro-ultra-webfont.woff")
      format("woff"),
    url("../webfonts/amsipro-ultra/amsipro-ultra-webfont.ttf")
      format("truetype"),
    url("../webfonts/amsipro-ultra/amsipro-ultra-webfont.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "amsiprocond-ultra";
  src: url("../webfonts/amsiprocond-ultra/amsiprocond-ultra-webfont.eot");
  src: url("../webfonts/amsiprocond-ultra/amsiprocond-ultra-webfont.woff")
      format("woff"),
    url("../webfonts/amsiprocond-ultra/amsiprocond-ultra-webfont.ttf")
      format("truetype"),
    url("../webfonts/amsiprocond-ultra/amsiprocond-ultra-webfont.svg")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
